<web-app>
	<context-param>  
    	<param-name>driver</param-name>  
    	<param-value>com.mysql.jdbc.Driver</param-value>  
  	</context-param> 
  	<context-param>  
    	<param-name>driverUrl</param-name>  
    	<param-value>jdbc:mysql://localhost:3306/RentPePhone</param-value>  
  	</context-param>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>UploadImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/uploadImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveData</servlet-name>
		<servlet-class>SaveData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveData</servlet-name>
		<url-pattern>/SaveData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/go</url-pattern>
	</servlet-mapping>
</web-app>